.heading{
    font-weight: bold;
    width: 130px;
}
button{
    background: rgb(16, 53, 133);
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px gray;
}
span{
    padding: 5px 10px 5px 10px;
    box-shadow: 0 5px 5px gray;
}