h3{
    text-align: center;
    font-weight: bold;
}
form{
    padding-top: 50px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 5px #45DDC8;
}

h2{
    padding-top: 20px;
    text-align: center;
    color: #45DDC8;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0 0 5px #262163;
}

.logo{
    text-align: center;
    padding-top: 10px;
}

.logo img{
    width: 250px;
}