<!-- <fieldset>
  <legend>requestPermissionFromUser</legend>
  <div>
    <input type="text" name="address" [(ngModel)]="requestUserAddress"  placeholder="Enter address">
    <button type="button" (click)="requestPermissionFromUser()">Submit</button>
  </div>
</fieldset>


<fieldset>
  <legend>grantPermission</legend>
  <div>
    <input type="text" name="address" [(ngModel)]="grantPermissionAddress" placeholder="Enter address">
    <input type="text" name="permission_level" [(ngModel)]="grantPermissionUint"  placeholder="Enter permission level">
    <button type="button" (click)="grantPermission()">Submit</button>
  </div>
</fieldset>



<fieldset>
  <legend>checkPermission</legend>
  <div>
    <input type="text" name="address" [(ngModel)]="checkPermissionAddress" placeholder="Enter user address">
    <input type="text" name="address" [(ngModel)]="checkPermissionAddress2" placeholder="Enter requester address">
    <button type="button" (click)="checkPermission()">Submit</button>
  </div>
</fieldset> -->


<router-outlet></router-outlet>